.btn-simple {
    visibility: hidden;
    display: none;
}

.filter-section {
    display: -webkit-inline-box;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: white;
    width: 100%;
}
.filter-section select,
.filter-section input[type="text"] {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
}

.filter-section input[type="text"]::placeholder {
    color: #999;
}
.filter_search {
    width: auto;
}
.filter_search.icon {
    text-align: end;
}
#district-list-container {
    position: relative;
}
#district-list {
    max-height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 1000;
    width: 15%;
}
#upazila-list {
    max-height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 1000;
}

#union-list {
    max-height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 1000;
}

#district-list-donate {
    max-height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 1000;
    width: 34%;
    margin-left: -30px;
}
#upazila-list-donate {
    max-height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 1000;
    width: 34%;
    margin-left: -30px;
}
#union-list-donate {
    max-height: 200px;
    overflow-y: auto;
    position: fixed;
    z-index: 1000;
    width: 34%;
    margin-left: -30px;
}

#district-list-profile {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 105%;
    margin-left: -30px;
}
#upazila-list-profile {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 105%;
    margin-left: -30px;
}
#union-list-profile {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 105%;
    margin-left: -30px;
}

@media screen and (max-width: 767px) {
    .filter-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
    .filter-section select {
        width: 100%;
    }
    .filter-section input {
        width: 100% !important;
    }
    .filter_search {
        background-color: #fdd2d2;
        width: auto;
    }
    .filter_search.icon {
        text-align: end;
    }
    #district-list {
        max-height: 200px;
        overflow-y: auto;
        position: fixed;
        z-index: 1000;
        width: 81%;
        margin-left: 0px;
    }
    #upazila-list {
        max-height: 200px;
        overflow-y: auto;
        position: fixed;
        z-index: 1000;
        width: 81%;
        margin-left: 0px;
    }
    #union-list {
        max-height: 200px;
        overflow-y: auto;
        position: fixed;
        z-index: 1000;
        width: 81%;
        margin-left: 0px;
    }
    #district-list-donate {
        max-height: 200px;
        overflow-y: auto;
        position: fixed;
        z-index: 1000;
        width: 68%;
        margin-left: -30px;
    }
    #upazila-list-donate {
        max-height: 200px;
        overflow-y: auto;
        position: fixed;
        z-index: 1000;
        width: 68%;
        margin-left: -30px;
    }
    #union-list-donate {
        max-height: 200px;
        overflow-y: auto;
        position: fixed;
        z-index: 1000;
        width: 68%;
        margin-left: -30px;
    }
    #district-list-profile {
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        width: 108%;
        margin-left: -30px;
    }
    #upazila-list-profile {
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        width: 108%;
        margin-left: -30px;
    }
    #union-list-profile {
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        width: 108%;
    }
}
